name: Deploy to GKE

on:
  push:
    branches:
      - main

jobs:
  setup-build-publish-deploy:
    name: Setup, Build, and Publish
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - id: 'auth'
      uses: 'google-github-actions/auth@v1'
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'

    - name: Configure Docker
      run: gcloud auth configure-docker europe-west1-docker.pkg.dev

    - name: Build and Push v4
      run: |
        docker build -t europe-west1-docker.pkg.dev/multi-services-488417/repo-multiservicios/mi-app:v5 ./app
        docker push europe-west1-docker.pkg.dev/multi-services-488417/repo-multiservicios/mi-app:v5